################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug/net6.0
/obj
/bin/Release/net6.0
/Properties/PublishProfiles
/.config
*.user
/bin/Debug/net8.0/ExcelFilesCompiler.dll
/bin/Debug/net8.0/ExcelFilesCompiler.exe
/bin/Debug/net8.0/ExcelFilesCompiler.pdb
*.dll
/bin/Debug/net8.0/ExcelFilesCompiler.deps.json
/bin/Debug/net8.0/ExcelFilesCompiler.staticwebassets.runtime.json
/bin/Debug/net8.0/appsettings.Development.json
/bin/Debug/net8.0/appsettings.Development.json
/bin/Debug/net8.0/appsettings.json
/bin/Debug/net8.0/ExcelFilesCompiler.runtimeconfig.json
/bin/Debug/net8.0/MalamaReportProcessor.exe
/bin/Debug/net8.0/MalamaReportProcessor.pdb
/bin/Debug/net8.0/MalamaReportProcessor.deps.json
/bin/Debug/net8.0/MalamaReportProcessor.runtimeconfig.json
/bin/Debug/net8.0/MalamaReportProcessor.staticwebassets.runtime.json
